<div
  id="root"
  [ngClass]="{ 'last-steps': !isFinalStep, 'first-steps': isFinalStep }"
>
  <mat-toolbar>
    <button
      mat-icon-button
      aria-label="Instructions"
      (click)="sidenav.toggle()"
    >
      <mat-icon>menu</mat-icon>
    </button>
    <span id="title">{{ title }}</span>
  </mat-toolbar>

  <mat-sidenav-container>
    <mat-sidenav #sidenav mode="push">
      <p>Instructions</p>
      <ol>
        <li>Display, in the list, the items from "getList" store selector.</li>
        <li>
          In route /add, add an input to add new items to the list. The input is
          required and has to display an error if it is empty. There is a button
          there, disable it if the form is invalid. The item can be added
          dispatching "AddItem" store action.
        </li>
        <li>
          Run script "final.step". Change the first div's class in "app-root"
          component according to the configuration run, if "final.step"
          configuration is running, the class has to be "last-steps" else the
          class has to be "first-steps".
        </li>
        <ng-container *ngIf="bonusSteps">
          <li>
            Implement the deletion of items from the list, to remove an item you
            have to dispatch "DeleteItem" store action.
          </li>
          <li>Complete and Run e2e tests successfully.</li>
        </ng-container>
      </ol>
      <p>
        <span style="font-weight: 700">Hint:</span> It is just like a fill in
        the blanks activity, good luck!
      </p>
    </mat-sidenav>
    <mat-sidenav-content>
      <nav mat-tab-nav-bar [tabPanel]="tabPanel">
        <a
          id="list-link"
          mat-tab-link
          routerLink="list"
          routerLinkActive
          #rlList="routerLinkActive"
          [active]="rlList.isActive"
          >List</a
        >
        <a
          id="add-link"
          mat-tab-link
          routerLink="add"
          routerLinkActive
          #rlAdd="routerLinkActive"
          [active]="rlAdd.isActive"
          >Add new item</a
        >
      </nav>
      <mat-tab-nav-panel #tabPanel></mat-tab-nav-panel>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
